<h1>Recuperação de senha do WarningBox</h1>
<h2>Data de envio: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h2>

<p>Seu código para recuperação de senha é: <h2><%= @codigo %></h2></p>

<p>Entre no WarningBox e informe este código para criar uma nova senha.</p>

<p>Caso não tenha solicitado um código, desconsidere essa mensagem.</p>

<p>WarningBox - Seu aplicativo de controle de validade de produtos!</p>